<h1>Olá {{ student_name }}!</h1>
<h2>
    Sua Matrícula foi trancada!
    <span>Segue os detalhes abaixo:</span>
</h2>
<strong>
    Numero da Matrícula: <span id="registration_id">{{ registration_id }}</span>. <br />
    Sua matrícula foi cancelada depois de <span id="days">{{ days }}</span> de atividade. <br />
    <blockquote>
        <p>
            Lembrando que os valores serão cobrados de acordo com o número de dias ativos,
            vale ressaltar que caso a matrícula não for cancelada dentro do período experimental de <mark>15</mark> dias
            a mensalidade será cobrada normalmente referênte ao mês, caso a mesma tenha o cancelamento
            confirmado dentro do periodo de <mark>15</mark> dias não será cobrado o valor integral da matrícula,
            mas sim a taxa de <mark>adesão</mark>.
        </p>
    </blockquote>
</strong>
<br />
<p>
     <b>Caso tenha algum problema ou alguma irregularidade com as informações deste email, por favor desconsidere.</b>
</p>
<hr>
<small>
    <b>Por favor não responda este email.</b>
</small>

<style>
    #registration_id, #days {
        color: #ff6f00;
    }
    h1 {
        color: #ff8f00;
        margin: 0;
    }
    blockquote{
        border-left: 5px solid #ff8f00;
    }
    blockquote > p{
        font-style: italic;
        margin-left: 15px;
    }
</style>
